<h2>Fragments:</h2>
<form class="form-inline">
	<input class="form-control" placeholder="Start Time" ng-model="fragment.startTime">
	<input class="form-control" placeholder="End Time" ng-model="fragment.endTime">
	<input class="btn btn-default" type="submit" value="Add" ng-click="vm.add(fragment); fragment={};">
</form>
<table class="table-bordered table-condensed">
	<tr>
		<th>Start Time</th>
		<th>End Time</th>
	</tr>
	<tr ng-repeat="fragment in vm.fragments">
		<td><input ng-model="fragment.startTime"></td>
		<td><input ng-model="fragment.endTime"></td>
	</tr>
</table>